/* ========================================================================
    Table Contents
  ========================================================================== 

  -on/Off switch
  -ripple effect 
  -Slider
  -Slideshow
  -Transform Origin
  -Animation
  -Transitions
  -Simplebar

*/

body {
    background-color: #fff;
    color: #000 !important;
}


[hidden] {
    display: none !important;
}


/* ========================================================================
    On/Off Switch
   ========================================================================== */

.switch-button {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 0 7px 0 0;
    top: 4px;
    position: absolute;
    top: 2px;
    left: 0;
}

.switch input {
    display: none;
}

.switch.interactive-effect input:checked+.switch-button:before {
    -webkit-animation: switch-shadow-color 0.4s;
    animation: switch-shadow-color 0.4s;
}

.switch.interactive-effect .switch-button:before {
    -webkit-animation: switch-shadow 0.4s;
    animation: switch-shadow 0.4s;
}

@-webkit-keyframes switch-shadow {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    100% {
        -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
}

@keyframes switch-shadow {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    100% {
        -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes switch-shadow-color {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
        box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
}

@keyframes switch-shadow-color {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
        box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
    }

    100% {
        -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
}

.switch-button:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    bottom: 2px;
    left: 2px;
    -webkit-transition: 0.4s, -webkit-box-shadow 0.3s;
    transition: 0.4s, -webkit-box-shadow 0.3s;
    transition: 0.4s, box-shadow 0.3s;
    transition: 0.4s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
    border-radius: 50px;
}

input:checked+.switch-button:before {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
}



/* ========================================================================
     Ripple Effect
   ========================================================================== */

.ripple-effect-dark {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ripple-effect span.ripple-overlay {
    -webkit-animation: ripple 0.9s;
    animation: ripple 0.9s;
    border-radius: 100%;
    background: #fff;
    height: 12px;
    position: absolute;
    width: 12px;
    line-height: 12px;
    opacity: 0.1;
    pointer-events: none;
}

.ripple-effect-dark span.ripple-overlay {
    -webkit-animation: ripple 0.9s;
    animation: ripple 0.9s;
    border-radius: 100%;
    background: #fff;
    height: 12px;
    position: absolute;
    width: 12px;
    line-height: 12px;
    opacity: 0.1;
    pointer-events: none;
    background: #ffffff;
    opacity: 0.07;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(4);
        transform: scale(4);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(40);
        transform: scale(40);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(4);
        transform: scale(4);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(40);
        transform: scale(40);
    }
}


/* ========================================================================
      Component: modal
  ========================================================================== */
.uk-modal {
    -webkit-overflow-scrolling: touch;
    transition: opacity 0.15s linear;
}

.uk-modal-dialog {
    transition: 0.3s linear;
    transition-property: opacity, transform;
    box-sizing: border-box;
}

/* ========================================================================
      Component: Slider and Slideshow
   ========================================================================== */
/*  Prevent tab highlighting on iOS. */
.uk-slider,
.uk-slideshow {
    -webkit-tap-highlight-color: transparent;
}

.uk-slider-items,
.uk-slideshow-items {
    touch-action: pan-y;
}

/*  Prevent displaying the callout information on iOS.*/
.uk-slider-items,
.uk-slideshow-items {
    -webkit-touch-callout: none;
}

/* ========================================================================
      Component: Slideshow
  ========================================================================== */
/* Optimize animation */
.uk-slideshow-items>* {
    will-change: transform, opacity;
}


/* Transform Origin
  ========================================================================== */
.uk-transform-origin-top-left {
    transform-origin: 0 0;
}

.uk-transform-origin-top-center {
    transform-origin: 50% 0;
}

.uk-transform-origin-top-right {
    transform-origin: 100% 0;
}

.uk-transform-origin-center-left {
    transform-origin: 0 50%;
}

.uk-transform-origin-center-right {
    transform-origin: 100% 50%;
}

.uk-transform-origin-bottom-left {
    transform-origin: 0 100%;
}

.uk-transform-origin-bottom-center {
    transform-origin: 50% 100%;
}

.uk-transform-origin-bottom-right {
    transform-origin: 100% 100%;
}


/* ========================================================================
       Component: lightbox
     ========================================================================== */

.uk-lightbox {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: #000;
    opacity: 0;
    transition: opacity 0.15s linear;
    touch-action: pinch-zoom;
    transform: scale(0.5);
}

.uk-lightbox.uk-open {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.uk-lightbox-page {
    overflow: hidden;
}

.uk-lightbox-items>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    will-change: transform, opacity;
}

.uk-lightbox-items>*>* {
    max-width: 100vw;
    max-height: 100vh;
}

.uk-lightbox-items>*> :not(iframe) {
    width: auto;
    height: auto;
}

.uk-lightbox-items>.uk-active {
    display: flex;
}

.uk-lightbox-toolbar {
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    color: white;
}

.uk-lightbox-toolbar.uk-position-top {
    background-color: transparent !important;
}

.uk-lightbox-button,
.uk-lightbox-toolbar-icon {
    background-color: white !important;
    color: white !important;
    border-radius: 100%;
    padding: 0.5rem;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.uk-lightbox-toolbar-icon.uk-close {
    position: absolute;
    right: 10px;
    top: -25px;
}

.uk-transition-active .uk-lightbox-toolbar-icon.uk-close {
    top: 16px;
}

.uk-lightbox-caption {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.uk-lightbox-caption:empty {
    display: none;
}

.uk-lightbox-iframe {
    width: 80%;
    height: 80%;
}

.uk-lightbox-button[hidden] {
    display: none !important;
}

.uk-lightbox-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.15s linear;
}

.uk-lightbox-button svg>*,
.uk-lightbox-toolbar-icon.uk-close svg>* {
    stroke: #0e0e0e !important;
}

.uk-lightbox-button.uk-position-center-right {
    right: 16px;
}

.uk-lightbox-button.uk-position-center-left {
    left: 16px;
}

.uk-lightbox-button.uk-position-center-right:hover {
    right: 8px;
}

.uk-lightbox-button.uk-position-center-left:hover {
    left: 8px;
}

/* ========================================================================
       Component: Animation
     ========================================================================== */
[class*="uk-animation-"] {
    animation: 0.5s ease-out both;
}

/*
     * Fade
     */
.uk-animation-fade {
    animation-name: uk-fade;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

/*
     * Scale
     */
.uk-animation-scale-up {
    animation-name: uk-fade, uk-scale-up;
}

.uk-animation-scale-down {
    animation-name: uk-fade, uk-scale-down;
}

/*
     * Slide
     */
.uk-animation-slide-top {
    animation-name: uk-fade, uk-slide-top;
}

.uk-animation-slide-bottom {
    animation-name: uk-fade, uk-slide-bottom;
}

.uk-animation-slide-left {
    animation-name: uk-fade, uk-slide-left;
}

.uk-animation-slide-right {
    animation-name: uk-fade, uk-slide-right;
}

/*
     * Slide Small
     */
.uk-animation-slide-top-small {
    animation-name: uk-fade, uk-slide-top-small;
}

.uk-animation-slide-bottom-small {
    animation-name: uk-fade, uk-slide-bottom-small;
}

.uk-animation-slide-left-small {
    animation-name: uk-fade, uk-slide-left-small;
}

.uk-animation-slide-right-small {
    animation-name: uk-fade, uk-slide-right-small;
}

/*
     * Slide Medium
     */
.uk-animation-slide-top-medium {
    animation-name: uk-fade, uk-slide-top-medium;
}

.uk-animation-slide-bottom-medium {
    animation-name: uk-fade, uk-slide-bottom-medium;
}

.uk-animation-slide-left-medium {
    animation-name: uk-fade, uk-slide-left-medium;
}

.uk-animation-slide-right-medium {
    animation-name: uk-fade, uk-slide-right-medium;
}

/*
     * Kenburns
     */
.uk-animation-kenburns {
    animation-name: uk-kenburns;
    animation-duration: 15s;
}

/*
     * Shake
     */
.uk-animation-shake {
    animation-name: uk-shake;
}

/*
     * SVG Stroke
     * The `--uk-animation-stroke` custom property contains the longest path length.
     * Set it manually or use `uk-svg="stroke-animation: true"` to set it automatically.
     * All strokes are animated by the same pace and doesn't end simultaneously.
     * To end simultaneously, `pathLength="1"` could be used, but it's not working in Safari yet.
     */
.uk-animation-stroke {
    animation-name: uk-stroke;
    animation-duration: 2s;
    stroke-dasharray: var(--uk-animation-stroke);
}

/* Direction modifier
     ========================================================================== */
.uk-animation-reverse {
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

/* Duration modifier
     ========================================================================== */
.uk-animation-fast {
    animation-duration: 0.1s;
}

/* Toggle animation based on the State of the Parent Element
     ========================================================================== */
.uk-animation-toggle:not(:hover):not(:focus) [class*="uk-animation-"] {
    animation-name: none;
}

/* Keyframes used by animation classes
     ========================================================================== */
/*
     * Fade
     */
@keyframes uk-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
     * Scale
     */
@keyframes uk-scale-up {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes uk-scale-down {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*
     * Slide
     */
@keyframes uk-slide-top {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-bottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes uk-slide-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/*
     * Slide Small
     */
@keyframes uk-slide-top-small {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-bottom-small {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-left-small {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes uk-slide-right-small {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/*
     * Slide Medium
     */
@keyframes uk-slide-top-medium {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-bottom-medium {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes uk-slide-left-medium {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes uk-slide-right-medium {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

/*
     * Kenburns
     */
@keyframes uk-kenburns {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/*
     * Shake
     */
@keyframes uk-shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-9px);
    }

    20% {
        transform: translateX(8px);
    }

    30% {
        transform: translateX(-7px);
    }

    40% {
        transform: translateX(6px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(4px);
    }

    70% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(-1px);
    }
}

/*
     * Stroke
     */
@keyframes uk-stroke {
    0% {
        stroke-dashoffset: var(--uk-animation-stroke);
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* ========================================================================
       Component: Transition
     ========================================================================== */
/* Transitions
     ========================================================================== */
/*
     * The toggle is triggered on touch devices by two methods:
     * 1. Using `:focus` and tabindex
     * 2. Using `:hover` and a `touchstart` event listener registered on the document
     *    (Doesn't work on Surface touch devices)
     */
:where(.uk-transition-fade),
:where([class*="uk-transition-scale"]),
:where([class*="uk-transition-slide"]) {
    --uk-position-translate-x: 0;
    --uk-position-translate-y: 0;
}

.uk-transition-fade,
[class*="uk-transition-scale"],
[class*="uk-transition-slide"] {
    --uk-translate-x: 0;
    --uk-translate-y: 0;
    --uk-scale-x: 1;
    --uk-scale-y: 1;
    transform: translate(var(--uk-position-translate-x),
            var(--uk-position-translate-y)) translate(var(--uk-translate-x), var(--uk-translate-y)) scale(var(--uk-scale-x), var(--uk-scale-y));
    transition: 0.3s ease-out;
    transition-property: opacity, transform, filter;
    opacity: 0;
}

/*
      * Fade
      */
.uk-transition-toggle:hover .uk-transition-fade,
.uk-transition-toggle:focus .uk-transition-fade,
.uk-transition-toggle .uk-transition-fade:focus-within,
.uk-transition-active.uk-active .uk-transition-fade {
    opacity: 1;
}

/*
      * Scale
      * 1. Make image rendering the same during the transition as before and after. Prefixed because of Safari.
      */
/* 1 */
[class*="uk-transition-scale"] {
    -webkit-backface-visibility: hidden;
}

.uk-transition-scale-up {
    --uk-scale-x: 1;
    --uk-scale-y: 1;
}

.uk-transition-scale-down {
    --uk-scale-x: 1.03;
    --uk-scale-y: 1.03;
}

/* Show */
.uk-transition-toggle:hover .uk-transition-scale-up,
.uk-transition-toggle:focus .uk-transition-scale-up,
.uk-transition-toggle .uk-transition-scale-up:focus-within,
.uk-transition-active.uk-active .uk-transition-scale-up {
    --uk-scale-x: 1.03;
    --uk-scale-y: 1.03;
    opacity: 1;
}

.uk-transition-toggle:hover .uk-transition-scale-down,
.uk-transition-toggle:focus .uk-transition-scale-down,
.uk-transition-toggle .uk-transition-scale-down:focus-within,
.uk-transition-active.uk-active .uk-transition-scale-down {
    --uk-scale-x: 1;
    --uk-scale-y: 1;
    opacity: 1;
}

/*
      * Slide
      */
.uk-transition-slide-top {
    --uk-translate-y: -100%;
}

.uk-transition-slide-bottom {
    --uk-translate-y: 100%;
}

.uk-transition-slide-left {
    --uk-translate-x: -100%;
}

.uk-transition-slide-right {
    --uk-translate-x: 100%;
}

.uk-transition-slide-top-small {
    --uk-translate-y: calc(-1 * 10px);
}

.uk-transition-slide-bottom-small {
    --uk-translate-y: 10px;
}

.uk-transition-slide-left-small {
    --uk-translate-x: calc(-1 * 10px);
}

.uk-transition-slide-right-small {
    --uk-translate-x: 10px;
}

.uk-transition-slide-top-medium {
    --uk-translate-y: calc(-1 * 50px);
}

.uk-transition-slide-bottom-medium {
    --uk-translate-y: 50px;
}

.uk-transition-slide-left-medium {
    --uk-translate-x: calc(-1 * 50px);
}

.uk-transition-slide-right-medium {
    --uk-translate-x: 50px;
}

/* Show */
.uk-transition-toggle:hover [class*="uk-transition-slide"],
.uk-transition-toggle:focus [class*="uk-transition-slide"],
.uk-transition-toggle [class*="uk-transition-slide"]:focus-within,
.uk-transition-active.uk-active [class*="uk-transition-slide"] {
    --uk-translate-x: 0;
    --uk-translate-y: 0;
    opacity: 1;
}

/* Opacity modifier
      ========================================================================== */
.uk-transition-opaque {
    opacity: 1;
}

/* Duration modifiers
      ========================================================================== */
.uk-transition-slow {
    transition-duration: 0.7s;
}


/* Simplebar */


[data-simplebar] {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}

.simplebar-offset {
    direction: inherit !important;
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.simplebar-content {
    direction: inherit;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    visibility: visible;
    overflow: scroll;
    max-width: 100%;
    max-height: 100%;
}

.simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
    height: 100%;
    width: inherit;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.simplebar-height-auto-observer {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.simplebar-scrollbar {
    position: absolute;
    right: 5px;
    width: 5px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s, background-color 0.3s;
    transition: opacity 0.2s, background-color 0.3s;
    background-color: #545252;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.5;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 10px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}

[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0;
}

.hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
}


/*************** My css **********************/


/** Follow **/


#follow {
    width: 990px;
    display: flex;
    position: relative;
}

.follow-top-details {
    margin-left: 20px;
}


.follow-icon {
    display: flex;
    align-items: center;

}

.follow-icon i {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.follow-top {
    display: flex;
    margin-left: 20px;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 15px;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    --tw-backdrop-blur: blur(12px);

}


#follow-first {
    max-width: 624px;
}


/* following */

.main-follow{
    height: 762px  !important;
    overflow: auto;
    margin: 15px;
}

.back {
    display: flex;
    font-size: 15px;
    color: #038aff;
    align-items: center;
    justify-content: flex-end;
}

.back i {
    margin-right: 10px;
}

.following {
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px;
}

.following-main {
    display: flex;
    position: relative;
}


.following-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.following-data {
    width: 80%;
    margin: 10px 0 0 65px;
}

.following-btn {
    position: absolute;
    right: 10px;
}

.following-btn button {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 12px;
    color: #FAFAFA;
    background-color: #0F1419;
}

.following-btn button:hover {
    background-color: #d6dee6;
    transition: 0.5s;
    border: none;
}

.following-details {
    display: flex;
}

.following-subDetails {
    margin-left: 15px;
}

.following-subDetails img {
    width: 20px;
    height: 20px;
    display: inline;
}


.following-subDetails h5 {
    font-size: 15px;
}

.following-subDetails h6 {
    font-size: 11px;
    color: #a79d9d;
}

.following-text {
    font-size: 13px;
}

.emoji {
    color: red;
}

.klrahul {
    color: #178bd8;
}


/* Follower */


.follower {
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 10px;
}

.follower-main {
    display: flex;
    position: relative;
}


.follower-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.follower-data {
    width: 80%;
    margin: 5px 0 0 65px;
}

.follower-btn {
    position: absolute;
    right: 10px;
}

.follower-btn button {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 13px;
    border: none;
    color: #FAFAFA;
    background-color: #0F1419;
}

.follower-btn button:hover {
    background-color: #d6dee6;
    transition: 0.5s;
    border: none;
}

.follower-details {
    display: flex;
}

.follower-subDetails {
    margin-left: 15px;
}

.follower-subDetails img {
    width: 20px;
    height: 20px;
    display: inline;
}

.follower-subDetails h5 {
    font-size: 15px;
}

.follower-subDetails h6 {
    font-size: 11px;
    color: #a79d9d;
}

.follower-text {
    font-size: 13px;
}

/* posts  & Replies & Like*/

.posts,
.replies,
.media {
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f9f9f9;
    }

.posts-logo,
.replies-logo,
.media-logo {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-left: 10px;

}

.posts-details,
.replies-details,
.media-details {
    display: flex;
}

.posts-details h5,
.replies-details h5,
.media-details h5 {
    font-size: 15px;
    margin-left: 10px;
}


.posts-subdetails span,
.replies-subdetails span,
.media-subdetails span {
    margin-left: 5px;
    font-size: 12px;
    color: #a79d9d;
    height: 50%;
    width: 100%;
}

.posts-subdetails h4 {
    width: 500px;
}

.posts-h4,
.replies-h4,
.media-h4 {
    font-size: 11px;
    margin: 5px 0 0 11px;
}

.posts-data,
.replies-data,
.media-data {
    width: 100%;
    height: 350px;
}

.posts-data img,
.replies-data img,
.media-data img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.posts-img,
.replies-img,
.media-img {
    margin-top: 10px;
}

.posts-icon,
.replies-icon,
.media-icon {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.posts-icon span,
.replies-icon span,
.media-icon span {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 500;
    font-style: normal;
}

.posts-icon i {
    font-size: 17px;
    font-weight: 900;

}

.posts-icon i:first-child:hover,
.replies-icon i:first-child:hover,
.media-icon i:first-child:hover {
    color: #06c5ff;
    transition: 0.3s;
    transform: scale(1.2);

}

.posts-icon i:first-child,
.replies-icon i:first-child,
.media-icon i:first-child {
    margin-left: 8px;

}

.posts-subdetails img,
.replies-subdetails img,
.media-subdetails img {
    width: 20px;
    height: 20px;
    display: inline;
}

.posts-icon i:nth-child(2):hover,
.replies-icon i:nth-child(2):hover,
.media-icon i:nth-child(2):hover {
    color: #2ec693;
    transform: scale(1.2);
    transition: 0.5s;
}

.posts-icon i:nth-child(3):hover,
.replies-icon i:nth-child(3):hover,
.media-icon i:nth-child(3):hover {
    color: #f91880;
    transform: scale(1.2);
    transition: 0.5s;
}

.posts-icon i:nth-child(4):hover,
.replies-icon i:nth-child(4):hover,
.media-icon i:nth-child(4):hover {
    color: #2ec693;
    transition: 0.5s;
    transform: scale(1.2);

}

.posts-icon i:last-child:hover,
.replies-icon i:last-child:hover,
.media-icon i:last-child:hover {
    color: #209cf0;
    transition: 0.5s;
    transform: scale(1.2);

}

.posts-icon i:last-child,
.replies-icon i:last-child,
.media-icon i:last-child {
    margin-right: 8px;
}

/**** Like ****/

.like {
    padding: 10px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.like-logo {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-left: 10px;

}

.like-details {
    display: flex;
}

.like-details h5 {
    font-size: 15px;
    margin-left: 10px;
}

.like-subdetails span {
    margin-left: 5px;
    font-size: 12px;
    color: #a79d9d;
    height: 50%;
    width: 100%;
}

.like-h4 {
    font-size: 11px;
    margin: 5px 0 0 11px;
}

.like-subdetails span {
    margin-left: 5px;
    font-size: 12px;
    color: #a79d9d;
    height: 50%;
    width: 100%;
}

.like-subdetails span {
    margin-left: 5px;
    font-size: 12px;
    color: #a79d9d;
    height: 50%;
    width: 100%;
}

.like-h4 {
    font-size: 11px;
    margin: 5px 0 0 11px;
}

.like-data {
    /* width: 100%;
    height: 350px; */
}

.like-data img {
    border-radius: 20px;
    height: 100%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.like-img {
    margin-top: 10px;
    display: flex;
}

.like-icon {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.like-icon span {
    font-size: 12px;
    margin-left: 10px;
}

.like-icon i:first-child:hover {
    color: #06c5ff;
    transition: 0.5s;
}

.like-icon i:first-child {
    margin-left: 8px;

}

.like-subdetails img {
    width: 20px;
    height: 20px;
    display: inline;
}

.like-icon i:nth-child(2):hover {
    color: #00f4a3;
    transition: 0.5s;
}

.like-icon i:nth-child(3):hover {
    color: #f91880;
    transition: 0.5s;
}

.like-icon i:nth-child(4):hover {
    color: #00f4a3;
    transition: 0.5s;

}

.like-icon i:last-child:hover {
    color: #06c5ff;
    transition: 0.5s;
}

.like-icon i:last-child {
    margin-right: 8px;
}



/**** Login & register***/

.login-page,
.register-page {
    /* border: 2px solid #334155; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #e2e5eb;
}


.login-input {
    margin-top: 10px;
}

.login-img {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    border-radius: 50%;
    /* background-color: #fae8ff; */
}

.login-img img {
    width: 100px;
    height: 100%;
}

.login-input input,
.register-input input {
    background-color: #fff;

}

.register-btn,
.login-btn {
    background-image: linear-gradient(to right, #627887 0%, #4b5c62 51%, #000000 100%);
    /* margin: 10px; */
    /* padding: 15px 45px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    margin: 0 auto;

    display: block;
}

.register-btn span,
.login-btn span {
    font-size: 12px;
}

.register-btn:hover,
.login-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/**** Edit Profile ****/

.edit-profile {
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 20px;
    border: 2px solid #6f7e95;
    position: absolute;
    right: 5px;
}

/****** Back *******/

.back-btn a {
    margin-bottom: 0.75rem;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
    position: absolute;
    top: 20px;
    left: 20%;
}

#colorButton {
    background-color: #0094f7;
    /* Initial color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#colorButton.clicked {
    background-color: #e74c3c;
    /* New color when clicked */
}



/****************** MY COLOR CSS ****************/


#sidebar__inner nav a i {
    color: #000;
}

#sidebar__inner nav a span {
    color: #000;
}

/* #sidebar__inner nav span{
    color: #000;
}  */

#profile-link {
    color: #000;
}

hr {
    color: gray;
}

.profile-dropdown {
    color: #000 !important;

}

.profile-dropdown ul li a span {
    color: #000 !important;

}

textarea::placeholder {
    color: #000 !important;
}

.input input::placeholder {
    color: #000 !important;
}

.send {
    color: #000;
}

.idea {
    background-color: #fff;
}

.profile-popup {
    background-color: #fff;
}

.tabs:focus {
    background-color: #efeff1;
}

.setting-tab {
    background-color: #00f4a3 !important;
}

.tabs {
    width: 9rem;
}


/************************************************************/


#sidebar {
    margin-left: 17%;
}

.md\:max-w-\[510px\] {
    max-width: 570px;
}

#sidebar nav a i {
    font-size: 20px;
}

#sidebar nav a span {
    font-size: 18px;
}

.md\:mt-10 {
    margin-top: 0;
    margin-left: 10px;

}

.\32xl\:w-72 {
    width: 17rem;
}

.home-titel {
    margin-left: 20px;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 15px;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    --tw-backdrop-blur: blur(12px);
}


.home {
    border-radius: 10px;
    position: relative;
    width: auto;
    height: 180px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


#sidebar__inner nav a:active {
    font-size: 12px;
    font-weight: bold !important;
}


.home-data {
    width: 15%;
    display: flex;
    justify-content: center;
}

.home-data img {
    width: 50px;
    height: 50px;
    margin-top: 38px;
}

.home-box input {
    width: 450px;
    height: 120px;
    border: none;
}

.home-box input::placeholder {
    font-size: 20px;
}


.home-box input:focus {
    outline-width: 0;
}

.home-main {
    display: flex;
}

/***/

.image-upload>input {
    display: none;
}

.image-upload i {
    cursor: pointer;
}

.date-upload>input {
    display: none;
}

.date-upload i {
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.home-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.home-i {
    display: flex;
}

.home-i:first-child {
    padding-left: 6%;
}

.home-i i {
    margin: 0 15px;
    color: #6fbcf0;

}

.post-btn {
    background-color: #8ECDF7;
    font-size: 12px;
    color: #fff;
    padding: 9px 20px;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px;
}

.post-btn:hover {
    background-color: #49b2f8;
    transition: 0.3s;
}

#everyOne {
    background-color: #fff !important;
    border: 1px solid #6f7e95;
    width: 120px;
    height: 20px;

    align-items: center;
    padding: 0 10px;
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 84px;
}

.name-link a {
    display: inline-flex;
    align-items: center;
}

.name-link a h5 {
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}

.follow-btn button {
    color: #F3F3F3;
    background-color: #0F1419 !important;
}

.search-input {
    margin-bottom: 20px;
    border-radius: 50% !important;

}

.search-input input {
    background-color: #fff;
    border-radius: 20px;
}

.search-input input::placeholder {
    color: #000 !important;
}


/****** Reply *********/

.Comment {
    display: flex;
    justify-content: space-between;
}

.reply-btn {
    background-color: #8ECDF7;
    font-size: 12px;
    color: #fff;
    padding: 9px 20px;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px;
}

.reply-input {
    color: #000 !important;
    width: 75%;
}

.reply {
    border-radius: 10px;
    position: relative;
    width: auto;
    height: 185px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.reply-area {
    margin-top: 7% !important;
    border: 2px solid red;
    display: flex;
}

.reply-data {
    width: 15%;
    display: flex;
    justify-content: center;
}

.reply-data img {
    width: 50px;
    height: 50px;
    margin-top: 38px;
}

.reply-box input {
    width: 480px;
    height: 125px;
    border: none;
}

.reply-box input::placeholder {
    font-size: 20px;
}


.reply-box input:focus {
    outline-width: 0;
}

.reply-main {
    display: flex;
}


.reply-icons {
    display: flex;
    justify-content: space-between;
}

.reply-i i {
    margin: 0 15px;
    color: #6fbcf0;

}

.reply-i {
    display: flex;
    margin: 0 15px;
}

.reply-post img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-left: 10px;
}

.reply-subdetails {
    display: flex;
}

.reply-icon {
    margin-top: px;
    display: flex;
    justify-content: space-between;
}

.reply-icon span {
    font-size: 12px;
    margin-left: 10px;
}

.reply-icon i {
    font-size: 15px;
}


.reply-icon i:first-child:hover {
    color: #06c5ff;
    transition: 0.4s;
    transform: scale(1.2);

}


.reply-icon i:nth-child(2):hover {
    color: #2ec693;
    transform: scale(1.2);
    transition: 0.5s;
}


.reply-icon i:nth-child(3):hover {
    color: #f91880;
    transform: scale(1.2);
    transition: 0.5s;
}


.reply-icon i:nth-child(4):hover {
    color: #2ec693;
    transition: 0.5s;
    transform: scale(1.2);

}


.reply-icon i:last-child:hover {
    color: #209cf0;
    transition: 0.5s;
    transform: scale(1.2);

}

.pp:hover::after {
    display: block;
}


/******* Hover-Profile **********/

.hover-profile-img {
    display: flex;
    justify-content: space-between;
}

.hover-profile-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hover-profile-btn button {
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #acacac;
    padding: 9px 15px;
}

.hover-profile h4 {
    font-size: 17px;
    color: #000;
    /* font-weight: bold; */
    display: inline;
}

.hover-profile h5 {
    font-size: 14px;
    color: rgb(100, 99, 99);
}

.hover-profile p {
    font-size: 14px;
    color: #000;
}

.profile-popup-hover {
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* transition-duration: 1s; */
    /* display: none; */
    background-color: #fff;
}

.profile-popup-hover:hover {
    padding: 10px;
    width: 300px;
    /* display: block; */
    background-color: #fff;
}

.Followed-data {
    display: flex;
}

.Followed-data img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-left: -20px;
}

.Followed-data .img-2 {
    margin-left: -15px;
}

.Followed-data .img-3 {
    margin-left: -15px;
}

.Followed-data p {
    font-size: 12px;

    color: #536471;
    margin-left: 10px;
}

.-mr-1 {
    position: relative;
    z-index: 9999;
}

.dot {
    position: absolute;
    right: 25px;
    bottom: 365px;
}

.dot:hover {
    background-color: #ebf7ff;
    transition: 0.3s;
}

.dot-1:hover {
    background-color: #ebf7ff;
    transition: 0.3s;
}


/****** Setting ******/

.setting {
    margin-left: 22%;
}

/****** Message ******/

.message {
    margin-left: 32%;
}

.message-chat-box2 {
    width: 47%;
}

.flex-2 {
    /* flex: 1 1 0%; */
}

.chat-main-img img {
    /* margin-left: 50%; */
    /* display: flex; */
    margin: auto;
}


.post-main:hover {
    background-color: #f7f7f7;
    transition: 0.5s;
}

.bi bi-bar-chart {
    font-size: 19px;
}

/******* Search *******/

.search-follow-btn {

    color: #FAFAFA;
    background-color: #0F1419 !important;
}



.people {
    border-radius: 10px;
    padding: 10px 10px;
}

.people:hover {
    background-color: #f7f7f7;
    transition: 0.5s;
}


/**************************************************************************************/

@media (max-width: 1536px) {
    .main__inner {
        margin-left: 20%;
    }

    .message {
        margin-left: 35%;
    }

    .chats {
        width: 280px;
    }

    .message-chat-box1 {
        width: 100%;
    }

    .chat-img {
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 1400px) {
    #sidebar {
        margin-left: 13%;
    }

    .main__inner {
        margin-left: 9%;
    }

    .\32xl\:w-72 {
        width: 11rem;
    }

    .message {
        margin-left: 27%;
    }

    .home-data {
        width: 15%;
        display: flex;
        justify-content: center;
    }

    .message-chat-box2 {
        width: 63%;
    }

}

@media (max-width: 1280px) {
    #sidebar {
        margin-left: 4%;
    }

    .\32xl\:w-72 {
        width: 5rem;
    }

    /* .main__inner {
        margin-left: 13%;
    } */


    #js-oversized {
        width: 100%;
    }

    .message {
        margin-left: 13%;
    }

    .chats {
        width: 320px;
    }

    .home-box input {
        width: 480px;
    }

    /* #profile-first{
        width: 620px !important ;
    } */

    #profile-second ,#follow-second{
        width: 480px;
    }




}

@media (max-width: 1023px) {
    .right-sidebar {
        display: none !important;
    }

    .chats {
        width: 290px;
    }

    .\32xl\:w-72 {
        width: 5rem;
        display: flex;
        justify-content: flex-start;
    }

    .md\:max-w-\[510px\] {
        max-width: 730px;
    }

    .-mr-1 {
        position: static;
    }

    .dot {
        right: 20%;
        top: 53%;
    }

    .search-input {
        margin-top: 20px;
    }

    #profile-second ,#follow-second{
        display: none;
    }

    #profile ,#follow{
        max-width: 100%;
    }

    .main__inner{
        margin-left: 10%
    }

    .profile-middle{
        width: 770px;
    }

    #follow-first{
        max-width: 770px;
    }

    #profile-first{
        max-width: 770px;
    }

    
    .main-tab{
        width: 730px;
    }

}

@media (max-width: 900px) {


    .\32xl\:w-72 {
        width: 5rem;
    }

    .main__inner {
        margin-left: 10%;
    }

    .setting {
        margin-left: 9%;
    }

    .right-sidebar {
        display: none !important;
    }

    .post-name {
        width: 20%;
    }

    .profile-middle{
        width: 750px;
        margin-right: 5px;
    }



}

@media (max-width: 767px) {

    #sidebar {
        margin-left: 0%;
        width: 100%;
    }

    #sidebar__inner {
        width: 100%;
    }

    .main__inner {
        margin-left: 0%;
    }

    .max-md\:justify-around {
        justify-content: space-around;
    }

    .max-md\:flex {
        display: flex;
    }

    .home-data img {
        width: 40px;
        height: 40px;
    }

    .home-box input {
        width: 350px;
        height: 120px;
        border: none;
    }

    .posts,
    .replies {
        margin-bottom: 100px;
    }

    .like-icon {
        margin-bottom: 50px;
    }

    .message {
        margin-left: 0;
    }

    .chats {
        display: none;
    }

    .message-chat-box2 {
        width: 100%;
    }

    .md\:ml-\[--w-side-small\] {
        margin-left: 0;
    }

    #profile , #follow{
        margin-top: 20px;
    }

    .md\:mt-10 {
        margin-top: 0;
        margin: 5px;
    }

    .posts, .replies, .media {
        margin-left: 0px;
        padding: 0px;
        border-radius: 20px;
        background-color: #f9f9f9;
    }

    .profile-middle{
        width: 750px;
        margin-right: 5px   ;
    }

}

@media (max-width: 576px) {

    .posts,
    .replies {
        margin-bottom: 50px;
    }

    .posts-icon i,
    .replies-icon i {
        font-size: 17px;
    }

    .posts-icon span,
    .replies-icon span {
        font-size: 15px;
    }

    .edit-profile {
        font-size: 10px;
        padding: 5px 10px;
        position: absolute;
        top: 3px;

    }

    .like-icon i {
        font-size: 8px;
    }

    .like-icon span {
        font-size: 10px;
        margin-left: 10px;
    }

    .home-box input {
        width: 250px;
        height: 90px;
        border: none;
    }

    .home {
        border-radius: 10px;
        position: relative;
        width: auto;
        height: 150px;
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .home-box input::placeholder {
        font-size: 15px;
    }

    .home-data img {
        margin-top: 27px;
    }

    .main__inner {
        /* padding: 0.75rem; */
        padding-top: 3.5rem;
        margin-left: 0;
    }


    .\32xl\:w-72 {
        width: 5rem;
    }

    .dark {
        overflow: none;

    }

    /* 
    .profile-main-image {
        width: 85%;
    } */

    /* #profile-first , #follow-first  {
        width: 100% !important;
    } */





}

@media (max-width:500px) {
    .md\:max-w-\[510px\] {
        max-width: 591px;
    }

    .main__inner {
        width: 100%;
    }

    .reply-box input::placeholder {
        font-size: 15px;
    }

    .reply-box input {
        width: 250px;
        height: 90px;
        border: none;
    }

    .reply-data img {
        margin-top: 25px;
    }

    .reply {
        border-radius: 10px;
        position: relative;
        width: auto;
        height: 150px;
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .reply-i {
        align-items: center;
    }

    .posts-icon i,
    .replies-icon i,
    .reply-icon i {
        font-size: 10px;
    }

    .posts-icon span,
    .replies-icon span,
    .reply-icon span {
        font-size: 9px;
    }

    .md\:mt-10 {
        /* margin-top: 0; */
        margin-left: 0px;
    }


    .posts, .replies, .media {
        margin: 10px;
        padding: 0px;
        /* border-radius: 20px;
        background-color: #f9f9f9; */
    }

}


/******************************************************/


#profile {
    width: 990px;
    display: flex;
    position: relative;
}

.profile-main__inner {
    margin-left: 19%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-right: 1.25rem;
}

.profile-top {
    display: flex;
    margin-left: 20px;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 15px;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    --tw-backdrop-blur: blur(12px);

}

.profile-icon {
    display: flex;
    align-items: center;

}

.profile-icon i {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.profile-top h3 {
    font-size: 18px;
    font-weight: bold;
}

.profile-top span {
    font-size: 15px;
}

.profile-top-details {
    margin-left: 20px;
}

.profile-main-image {
    width: 100%;

}

.profile-main-image img {
    width: 100%;
    height: 208px;
    /* object-fit: cover; */
    object-position: center;
}

.profile-image {
    width: 144px;
    height: 144px;
    position: absolute;
    /* position: relative; */
    left: 20px;
    top: 212px;
    /* bottom: 75px; */
}

.profile-image img {
    border-radius: 50%;
}

.profile-middle-SubDetails {
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 0px;
}

.profile-middle-SubDetails button {
    margin-right: 10px;
}

.Edit-profile {
    background-color: transparent;
    border: 1px solid gray;

}



.buy-btn {
    background-color: #0F1419;
    color: #fff;
}

.cancel a {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}

.cancel i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cancel h2 {
    margin-left: 10px;
}


.cancel a:hover {
    background-color: #F5F5F5;
    transition: 0.3s;
}

.save-btn {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 20px;
}

.Edit-main {
    width: 500px;

}

.profile-input {
    overflow: auto;
    height: 562px;

}

.Edit-top {
    padding: 10px 10px;

}

.profile-image-upload {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #CFD9DE;
}

.profile-image-upload i,
.Edit-profile-image i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}



.back-input-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #5C6368;
}

.back-input-image:hover {
    background-color: #798085;
    transition: 0.3s;
}

.main-profile-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main-profile-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(73, 88, 102, 0.6);

}



.Edit-profile-image {
    width: 144px;
    height: 144px;
    position: absolute;
    left: 20px;
    top: 125px;
}

.Edit-profile-image img {
    border-radius: 50%;
}

.form {
    margin-top: 4rem;
    padding: 10px;
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input-container input {
    background-color: transparent !important;
    border: 1px solid gray !important;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    height: 100%;
    outline: none !important;
    padding: 8px 20px 0;
    width: 100%;
}

.input:focus {
    border: 1px solid #2dabff !important;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 500ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
    top: 35px;
    left: 6.5px;
    transition: 0.3s;
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #1D9BF0;
}


.switch-btn {
    color: #65657b;
    font-family: sans-serif;
    font-weight: 549;
    font-size: 16px;
    height: 100%;
    margin-left: 0px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.switch-btn:hover {
    background-color: #f8f8f8;
}

#file-input {
    display: none;
}

.bio {
    height: 80px !important;
}

.user-info {
    margin-top: 25px;
    margin-left: 22px;
}

.user-name {
    line-height: 20px;
}

.user-name h3 {
    font-size: 18px;
}

.user-name p {
    font-size: 14px;
}

.user-Dob {
    margin-top: 12px;
}


.user-Dob i {
    font-style: normal;
    font-size: 13PX;
    color: #536471;
}

.user-follow span {
    font-size: 13px;
}

.user-following {
    margin-right: 10px;
}

.user-follow a {
    color: #536471;
}

#profile-second {
    margin-left: 20px;
}

.show-more {
    /* text-align: center; */
    padding: 25px 0 10px 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.trade-titel {
    margin-bottom: 20px;
}

.trade-main {
    height: 400px;
    overflow: auto;
}

.trade-details {
    display: flex;
    margin-bottom: 20px;
}

.trade-subdetails {
    margin-left: 45px;
    font-size: 14px;

}

.trade-data {
    display: flex;
}

.trade-subdetails span,
.trade-subdetails u {
    color: red;
}

.trade-data img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: -20px;
}

.trade-data .img-2 {
    margin-left: -15px;
}

.trade-subdetails a {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 2px;
}